<head>
  <link rel="stylesheet" href="about-me.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <main class="content column">
      <article class="post">
        <h2 class="heading">About</h2>
        <hr class="new4">
        <p class="paragraph">
            Hello my name is Juan Marco Ares but you can call 
            me Marco. I started coding at the start of 2018 and 
            I have been enjoying it ever since!
        </p><br/>
        <p class="paragraph">
            I learned a lot in the past few years and would love to 
            learn more! I am continuously learning and enhancing my
            skills as I grow as a Software Engineer.
        </p><br/>
        <p class="paragraph">
            My skills include <b>Java, Python, C/C++, React, NodeJS, Angular, Full Stack</b>
            and more!
        </p>
      </article>
    </main>
    <aside class="sidebar column">
      <img class="me-img" src="../../assets/images/me.jpg">
    </aside>
</div>
<div class="container2">
  <aside class="sidebar2 column">
      <img class="school-img" src="../../assets/images/school.jpg">
  </aside>
  <main class="content2 column">
    <article class="post">
      <h2 class="heading">School</h2>
      <hr class="new4">
      <p class="paragraph">
          I went to Washington State University and
          graduated in 2020 with a B.S. in Computer Science
          with a minor in Mathematics.
      </p><br/>
    </article>
  </main>
</div>
<div class="container2">
  <main class="content3 column">
    <article class="post">
      <h2 class="heading">Interests</h2>
      <hr class="new4">
      <p class="paragraph">
          * I love playing chess and I have won a few trophies.
      </p><br/>
      <p class="paragraph">
          * I love watching movies and binging shows.
      </p><br/>
      <p class="paragraph">
          * I love listening to music, specially when its live.
      </p><br/>
      <p class="paragraph">
          * Hit me up and let me know about your favorite theory!
      </p><br/>
    </article>
  </main>
</div>
<footer>
 <ul>
    <li><a href="https://www.linkedin.com/in/marco-ares-267372164/" class="fa fa-linkedin" target="_blank"></a></li>
    <li><a href="https://github.com/jmarcoares98" class="fa fa-github" target="_blank"></a></li>
    <li><a href="https://www.instagram.com/jmarcoares/" class="fa fa-instagram" target="_blank"></a></li>
    <li><a href="https://twitter.com/jmarcoares" class="fa fa-twitter" target="_blank"></a></li>
  </ul>
</footer>
