<head>
  <link rel="stylesheet" href="projects.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">
    <header class="header column">
        <h2 class="heading">Here Are Some of My Work</h2>
    </header>
    <main class="content column">
        <a href="https://github.com/jmarcoares98" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">project</h2>
        <hr class="new4">
    </main>
    <main class="content column">
        <a href="https://github.com/jmarcoares98" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">project</h2>
        <hr class="new4">
    </main>
    <main class="content column">
        <a href="https://github.com/jmarcoares98" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">project</h2>
        <hr class="new4">
    </main>
    <main class="content column">
        <a href="https://github.com/jmarcoares98" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">project</h2>
        <hr class="new4">
    </main>
</div>

<div class="container2">
    <main class="content2 column">
        <h2 class="heading">My Resume</h2>
        <iframe src="https://drive.google.com/file/d/1E3elOms1PVFk36LbiMaLQWn-naeLUG7L/preview" width="70%" height="90%"></iframe>
    </main>
</div>