<head>
  <link rel="stylesheet" href="projects.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">
    <header class="header column">
        <h2 class="heading">My Work</h2>
    </header>
    <main class="content column">
        <a href="https://github.com/jmarcoares98/Food-Cart" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">Food Cart App</h2>
        <hr class="new4">
        <p class="paragraph">
            This web application was created with Angular and was a project from Edureka.
            It is a user based application to order food and then track its delivery time.
        </p>
    </main>
    <main class="content column">
        <a href="https://github.com/jmarcoares98/CS460/tree/main/Last%20-%20460" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">Terminal Emulator</h2>
        <hr class="new4">
        <p class="paragraph">
            A final project for one of my classes at WSU. I created this project in Linux 
            with C and it emulates my own systems terminal. I implemented my own commands programs 
            that has I/O redirections and pipes.
        </p>
    </main>
    <main class="content column">
        <a href="https://github.com/jmarcoares98/IA8" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">Birthdays Web App</h2>
        <hr class="new4">
        <p class="paragraph">
            A React web application to add, display and update birthdays for the user. It uses MongoDB for its database,
            implements Passport for user authentication through Github and Bootstrap for its styling.
        </p>
    </main>
    <main class="content column">
        <a href="https://github.com/jmarcoares98/Bug-Tracking" class="fa fa-github" target="_blank"></a>
        <h2 class="heading-project">Bug Tracking App</h2>
        <hr class="new4">
        <p class="paragraph">
            This is a bug tracking app created with NodeJS. It is a simple project for users to put in a from
            the bug, its description and who is assigned to fix it. Then it will automatically grabs the 
            date and time of when the bug was created and places in a table where it has a timer of 3 days
            to resolve the bug.
        </p>
    </main>
</div>

<div class="container2">
    <main class="content2 column">
        <h2 class="heading">My Resume</h2>
        <iframe src="https://drive.google.com/file/d/1E3elOms1PVFk36LbiMaLQWn-naeLUG7L/preview" width="70%" height="90%"></iframe>
    </main>
</div>