<head>
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
  <main class="content column">
    <article class="post">
        <h2 class="heading">Marco Ares</h2>
        <hr class="new4">
        <p class="paragraph">
            I am a software engineer based in Seattle, WA.
            Toggle through my portfolio to learn more about me.
        </p>
    </article>
  </main>
</div>
<footer>
 <ul>
    <li><a href="https://www.linkedin.com/in/marco-ares-267372164/" class="fa fa-linkedin" target="_blank"></a></li>
    <li><a href="https://github.com/jmarcoares98" class="fa fa-github" target="_blank"></a></li>
    <li><a href="https://www.instagram.com/jmarcoares/" class="fa fa-instagram" target="_blank"></a></li>
    <li><a href="https://twitter.com/jmarcoares" class="fa fa-twitter" target="_blank"></a></li>
  </ul>
</footer>